#map {
    height: 100%;
}

.test {
    width: 50px;
    height: 30px;
    background-color: red;
    border-radius: 15px;
    text-align: center;
}

.scotts-toast {
    background-color: green;
    color: white;
    text-align: center;
}